<div class="product_list grid">
  <div class="row">
    <app-product-block-search></app-product-block-search>
    <app-product-block-search></app-product-block-search>
    <app-product-block-search></app-product-block-search>
    <app-product-block-search></app-product-block-search>
    <app-product-block-search></app-product-block-search>
    <app-product-block-search></app-product-block-search>
    <app-product-block-search></app-product-block-search>
    <app-product-block-search></app-product-block-search>
  </div>

</div>
