<!DOCTYPE html>
<html>
<head>
	<title>Phong Kham Ngoai Khoa</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href= "../css/style.css"></style>
	<!-- <link rel="stylesheet" href= "../css/reset.css"></style> -->
</head>
<body>
	<header>
		
		<div class="container" style="min-height: 81px;padding-top: 10px">
			<img id="logo" src="../images/logo.png" style="float: left;margin-right: 10px">
			<div style="float:left;margin-top: 12px">
				<h3 style="font-size: 20pt">PHÒNG KHÁM CHUYÊN KHOA</h3>
				<p style="font-size: 16pt">Vật lý trị liệu - Phục hồi chức năng</p>

			</div>
			<div style="float: right;margin-top: 16px ">
				<div style="float: left;margin-right: 5px">
					<img id="logo_phone" src="../images/icon-phone.png" style="float: left;">
				</div>
				<div style="float:left;margin-top: 3px; white-space: nowrap;">
					<span style="font-size: 14pt">Câu hỏi bác sĩ ? 
						<span style="color: blue;font-size: 18pt">0511386592</span>
					</span>
				</div>
				
			</div>
		</div>
		<nav style="border-top:  solid 1px #dcdce4;">
			<div class="container">
				<ul class="my_nav" >
					<li><a>TRANG CHỦ</a></li>
					<li><a>GIỚI THIỆU</a></li>
					<li><a>DỊCH VỤ Y TẾ</a></li>
					<li><a>Y HỌC THƯỞNG THỨC</a></li>
					<li><a>ĐẶT LỊCH KHÁM</a></li>
					<li><a>TƯ VẤN LIÊN HỆ</a></li>
					<li style="float: right;">
						<a href="" style="float: left;"><img src="../images/icon-facebook.png"></a>
						<a href="" style="float: left;"><img src="../images/google.png"></a>
						<a href="" style="float: left;"><img src="../images/icon-youtube.png"></a>
					</li>	
				</ul>
			</div>
			
		</nav>
		<div style="height: 161px;background-image: url(../images/banner.jpg);">
				<div class="container" style="height: 100%;padding-top: 75px; box-sizing: border-box;">
					<a href="">
						<h2>
							TRANG CHỦ | DỊCH VỤ Y TẾ
						</h2>
					</a>
					<marquee>Hello Vu Dang</marquee>
				</div>
		</div>
	</header>
	<main>
		<div class="container clearfix" style="margin-top: 20px;width: 100%">
				<aside class="sidebar-left">
					
					<div class="my_panel_header clearfix">	
						<p class="title">NGƯỜI LỚN</p>
						
						<label class="button" for="btn_show" id="btn_sub">-</label>
						<!-- <a class="button" href="">-</a> -->
					</div>
					<input type="checkbox" id="btn_show">
					<div class="my_panel_content">
						<ul>
							<li> Đau cổ</li>	
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
						</ul>
					</div>
					<div class="my_panel_header clearfix">
						<p class="title">TRẺ EM</p>
						<a class="button" href="">-</a>
					</div>
					<div class="my_panel_content">
						<ul>
							<li> Đau cổ</li>	
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
						</ul>
					</div>
					<div class="my_panel_header">
						<h1 class="title" style="font-size: 18pt;">ĐẶT LỊCH KHÁM </h1>
						<form class="form_book" style=" margin-top: 40px">
							<input type="text" name="name" placeholder="Họ & Tên">
							<input type="text" name="name" placeholder="Địa Chỉ">
							<input type="text" name="name" placeholder="Số điện thoại">
							<input type="date" name="name" placeholder="Thời gian"><br>
							<input type="submit" name="name" value="ĐẶT LỊCH">
						</form>
					</div>
					
				</aside>
				
				<div style="width: 76%; float: left;">
					<ul class="list_news" style="margin-left: 20px; list-style-type: none;">
						<li class="my_item">
							<!-- <div class="mask_content" style="position: absolute;width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7);z-index: 15">
									</div> -->

							<div class = "content" style="position: relative;z-index: 14;overflow: hidden;">
								<div style="width: 50px;height: 50px;transform: rotate(-45deg); background-color: red; z-index: 15;position: absolute;right: -35px;top:-35px;">
									
								</div>
								<div style="width: 50px;height: 50px;transform: rotate(45deg); background-color: red; z-index: 15;position: absolute;left: -35px;top:-35px;">
									
								</div>
							
								<a class="clearfix" href="">
									
									<img src="../images/new-1.jpg" width="100%" title="Hello World">
								</a>
								<div style="height: 150px;z-index: 16">
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a class="btn_arrow"></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>

							
							
							
						</li>
						<li class="my_item">
							<div class = "content" style="position: relative;">
								<a href="">
								<img src="../images/new-2.jpg" width="100%">
								</a>
								<div style="height: 150px">
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href="" style="position: absolute;right: 0px;bottom: 0px;background-image: url(../images/arrow2.png); width: 15px;height: 15px;background-repeat: no-repeat;"></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</li>
						<li class="my_item">
							<div class = "content" style="position: relative;">
								<a href="">
								<img src="../images/new-3.jpg" width="100%">
								</a>
								<div style="height: 150px">
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href="" style="position: absolute;right: 0px;bottom: 0px;background-image: url(../images/arrow2.png); width: 15px;height: 15px;background-repeat: no-repeat;"></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</li>
						<li class="my_item">
							<div class = "content" style="position: relative;">
								<a href="">
								<img src="../images/new-4.jpg" width="100%">
								</a>
								<div style="height: 150px">
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href="" style="position: absolute;right: 0px;bottom: 0px;background-image: url(../images/arrow2.png); width: 15px;height: 15px;background-repeat: no-repeat;"></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</li>
						<li class="my_item">
							<div class = "content" style="position: relative;">
								<a href="">
								<img src="../images/new-5.jpg" width="100%">
								</a>
								<div style="height: 150px">
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href="" style="position: absolute;right: 0px;bottom: 0px;background-image: url(../images/arrow2.png); width: 15px;height: 15px;background-repeat: no-repeat;"></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</li>
						<li class="my_item">
							<div class = "content" style="position: relative;">
								<a href="">
								<img src="../images/new-6.jpg" width="100%">
								</a>
								<div style="height: 150px">
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href="" style="position: absolute;right: 0px;bottom: 0px;background-image: url(../images/arrow2.png); width: 15px;height: 15px;background-repeat: no-repeat;"></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</li>
						<li class="my_item">
							<div class = "content" style="position: relative;">
								<a href="">
								<img src="../images/new-7.jpg" width="100%">
								</a>
								<div style="height: 150px">
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href="" style="position: absolute;right: 0px;bottom: 0px;background-image: url(../images/arrow2.png); width: 15px;height: 15px;background-repeat: no-repeat;"></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</li>
					</ul>
					
					
				</div>
		</div>
	</main>
	<footer>

		<div style="background-color: #62c6f8; height: 250px">
			<div class="container clearfix" style="padding-top: 45px;">
				<section style="float: left;width: 33.3%">
					<h2>Về Phòng Khám</h2>
					<ul class = "list_footer" style="padding-left: 23px;">
						<li>Giới thiệu chung</li>
						<li>Nhân lực</li>
						<li>Trang thiết bị và cở sở vật chất</li>
					</ul>
				</section>
				<section style="width: 33.3%; float: left;">
					<h2>Hỗ Trợ</h2>
					<ul class = "list_footer" style="padding-left: 23px;">
						<li>Tư vấn sức khoẻ</li>
						<li>Y học thưòng thức</li>
						<li>Dặt lịch khám</li>
					</ul>
				</section>
				<section style="float: left;width: 33.3%">
					<h2>Kết Nối Xã Hội</h2>	
					<ul class = "list_footer social" style="padding-left: 23px;">
						<li><a href="" style="float: left;"><img src="../images/iconfb.png"></a>FACEBOOK</li>
						<li><a href="" style="float: left; "><img src="../images/iconfb.png"></a>GOOGLE</li>
						<li><a href="" style="float: left;"><img src="../images/iconfb.png"></a>YOUTUBE</li>
					</ul>
				</section>
			</div>
			<div style="margin-top: 20px;border-top: 1px solid black; padding-top: 20px">
				<p class="container">
					@ 2015 - BAN QUYEN THUOC PHONG PHAM
				</p>
			</div>
		</div>
	</footer>
</body>
</html>
	
