<div class="product_block col-md-3 col-xs-6 col-sp-12">
  <div class="item-variant clearfix product-block">
    <div class="product-meta">
      <h3 class="name">
        <a class="product-name" href="/sinh-to-hoa-qua" title="Sinh tố hoa quả">Sinh tố hoa
          quả</a>
      </h3>
      <div class="review clearfix">
        <span class="shopify-product-reviews-badge" data-id="1441801"></span>
      </div>
      <div class="content_price">
						<span class="price product-price sale-price">
							<span>25.000₫</span>
						</span>
        <span class="old-price product-price">
								<span>34.000₫</span>
							</span>
      </div>
      <div class="clearfix"></div>
      <div class="product-desc"> Nhà hàng X-Jo là một trong những nhà hàng ẩm thực nổi tiếng
        trên khu vực Phố Cổ chuyên về ẩm thực của Singapore như các món về gà...
      </div>
    </div>
    <div class="product-image-container image">
      <div class="layout-img">
        <a class="product_img_link" href="/sinh-to-hoa-qua" title="Sinh tố hoa quả">
          <img class="replace-2x img-responsive"
               src="//bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
               alt="Sinh tố hoa quả">
          <span class="product-additional" data-idproduct="1441801">
	            <img class="replace-2x img-responsive" alt="Sinh tố hoa quả"
                   src="//bizweb.dktcdn.net/100/038/419/products/bg-obj01.png?v=1456080669687">
	</span>
        </a>
      </div>
      <span class="product-label sale-box">
              <span class="label-sale">Sale</span>
            </span>
      <div class="right">
        <div class="action">
          <div class="quickview">
            <a class="quick-view btn-inverse btn" href="#quick-view-product"
               data-handle="sinh-to-hoa-qua" data-toggle="tooltip" title=""
               data-original-title="Xem nhanh">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <div class="view_detail">
            <a class="btn btn-inverse lnk_view" href="/sinh-to-hoa-qua"
               data-toggle="tooltip" title="" data-original-title="Xem">
              <i class="fa fa-eye"></i>
            </a>
          </div>
          <div class="cart addtocart">
            <form action="/cart/add" method="post" enctype="multipart/form-data"
                  class="form-ajaxtocart" id="product-actions-1441801">
              <input type="hidden" name="id" value="2246368">
              <input type="hidden" name="variantId" value="2246368">
              <button class="btn btn-outline-inverse ajax_addtocart" type="submit"
                      value="Submit">
                <i class="fa fa-shopping-cart"></i>
                <span>Mua ngay</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
