<!-- start header -->
<header id="header">
  <section class="header-container">
    <!-- start top bar header -->
    <div id="topbar">
      <div class="banner">
        <div class="container">

        </div>
      </div>
      <div class="nav">
        <div class="container">
          <nav>
            <div class="header_user_info e-scale 1">
              <ul class="links">
                <li>
                  <a href="account/login" title="Đăng nhập" id="customer_login_link">Đăng nhập</a>
                </li>
                <li>
                  <a href="account/register" title="Đăng ký" id="customer_register_link">Đăng ký</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!--end top bar header  -->
    <!-- start header main -->
    <div id="header-main">
      <div class="container">
        <div class="row">
          <div id="header_logo" class="inner col-lg-3 col-md-3 col-sm-4 col-xs-8">
            <h1 class="pull-left" itemscope="" itemtype="http://schema.org/Organization" style="font-size: 0px;">
              <a href="#" itemprop="url">
                <img src="http://bizweb.dktcdn.net/100/038/419/themes/49902/assets/logo.png?1495677182625" alt="leo-food" itemprop="logo">
              </a>
            </h1>
          </div>
          <div class="header-right header-cart col-lg-9 col-md-9 col-sm-8 col-xs-4">
            <!-- top menu -->
            <div id="apollo-menu">
              <nav id="cavas_menu" class="apollo-megamenu">
                <div class="" role="navigation">
                  <div id="apollo-top-menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav megamenu">
                      <li class="active">
                        <a class="" href="" title="Trang chủ" target="_self">
                          <span class="">Trang chủ</span>
                        </a>
                      </li>
                      <li class="parent dropdown ">
                        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="#" title="Sản phẩm" target="_self">
                          <span class="">Sản phẩm</span><b class="caret"></b>
                        </a>
                        <div class="dropdown-menu level1">
                          <div class="dropdown-menu-inner">
                            <div class="mega-col-inner">
                              <ul>
                                <li class="">
                                  <a class="" href="#" title="Sản phẩm mới">
                                    <span class="">Nguyên Liệu</span>
                                  </a>
                                </li>
                                <li class="">
                                  <a class="" href="#" title="Sản phẩm hot">
                                    <span class="">Đặt cơm</span>
                                  </a>
                                </li>
                                <li class="">
                                  <a class="" href="#" title="Sản phẩm khuyến mãi">
                                    <span class="">Cơm văn phòng</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="">
                        <a class="" href="" title="Nguyên Liệu" target="_self">
                          <span class="">Nguyên Liệu</span>
                        </a>
                      </li>
                      <li class="">
                        <a class="" href="" title="Cơm" target="_self">
                          <span class="">Đặt Cơm</span>
                        </a>
                      </li>
                      <li class="">
                        <a class="" href="" title="Tin tức" target="_self">
                          <span class="">Tin tức</span>
                        </a>
                      </li>
                      <li class="">
                        <a class="" href="" title="Giới thiệu" target="_self">
                          <span class="">Giới thiệu</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            <!-- end top menu -->
            <div class="inner no-padding col-lg-8 col-md-8 col-sm-8 hidden-xs">
              <div class="search_block_top clearfix">
                <div class="nav-search visible">
                  <form class="input-group searchbox search-box" action="" method="get" role="search">
                    <div class="filter_type category_filter input-group-addon group-addon-select icon-selec">
                      <select name="category_id" class="no-border">
                        <option value="0">Tất cả các danh mục</option>
                        <option value="">Cơm</option>
                        <option value="">Cơm</option>
                        <option value="">Cơm</option>
                        <option value="">Cơm</option>
                      </select>
                    </div>
                    <div class="search-input-wrapper clearfix input-group">
                      <input class="search_query_top form-control input-lg input-search" size="35" type="search" name="query" value="" placeholder="Tìm kiếm ..." aria-label="Tìm kiếm ...">
                      <span class="input-group-addon input-group-search">
                          <button class="search_button" type="submit">Tìm kiếm</button>
                          </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="inner col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div id="cart" class="blockcart_top clearfix">
                <div class="media heading">
                  <div class="cart-inner media-body">
                    <a href="#" id="CartToggle">
                      <div class="icon-cart"></div>
                      <span class="fix-cart">GIỎ HÀNG</span>
                      <span id="CartCount">5</span>
                      <span> - </span>
                      <span id="CartCost">320.000₫</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header main -->
  </section>
</header>
<!-- end header -->
