<div class="primary_block">

  <div class="row">
    <div class="product-left-column col-xs-12 col-sm-12 col-md-5">
      <div id="image-block" class="image clearfix">

                                <span id="view_full_size">


                                        <img id="proimage" class="img-responsive" itemprop="image"
                                             src="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                                             alt="Sinh tố hoa quả">
                                        <span class="span_link no-print status-enable"></span>
                                </span>
      </div>

      <div id="views_block" class="clearfix ">
        <div id="thumbs_list" class="no-owl">
          <ul id="thumblist" class="owl-carousel owl-theme" style="display: block; opacity: 1;">

            <div class="owl-wrapper-outer">
              <div class="owl-wrapper" style="width: 588px; left: 0px; display: block;">
                <div class="owl-item" style="width: 98px;">
                  <li id="thumbnail_1" class="thumb_item shown ">
                    <a href="javascript:void(0)" data-imageid="3875053"
                       data-image="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                       data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                       title="Sinh tố hoa quả">
                      <img class="img-responsive img-fix" id="thumb_1"
                           src="//bizweb.dktcdn.net/thumb/compact/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                           alt="" itemprop="image">
                    </a>
                  </li>
                </div>
                <div class="owl-item" style="width: 98px;">
                  <li id="thumbnail_2" class="thumb_item  ">
                    <a href="javascript:void(0)" data-imageid="3747164"
                       data-image="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/bg-obj01.png?v=1456080673133"
                       data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/038/419/products/bg-obj01.png?v=1456080673133"
                       title="Sinh tố hoa quả">
                      <img class="img-responsive img-fix" id="thumb_2"
                           src="//bizweb.dktcdn.net/thumb/compact/100/038/419/products/bg-obj01.png?v=1456080673133"
                           alt="" itemprop="image">
                    </a>
                  </li>
                </div>
                <div class="owl-item" style="width: 98px;">
                  <li id="thumbnail_3" class="thumb_item  last">
                    <a href="javascript:void(0)" data-imageid="3747163"
                       data-image="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/207504-10362069-coffee-jpg-5e37f837-d06b-43cf-add8-4a6214109198.jpg?v=1456080673133"
                       data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/038/419/products/207504-10362069-coffee-jpg-5e37f837-d06b-43cf-add8-4a6214109198.jpg?v=1456080673133"
                       title="Sinh tố hoa quả">
                      <img class="img-responsive img-fix" id="thumb_3"
                           src="//bizweb.dktcdn.net/thumb/compact/100/038/419/products/207504-10362069-coffee-jpg-5e37f837-d06b-43cf-add8-4a6214109198.jpg?v=1456080673133"
                           alt="" itemprop="image">
                    </a>
                  </li>
                </div>
              </div>
            </div>


            <div class="owl-controls clickable" style="display: none;">
              <div class="owl-pagination">
                <div class="owl-page"><span class=""></span></div>
              </div>
              <div class="owl-buttons">
                <div class="owl-prev">&lt;</div>
                <div class="owl-next">&gt;</div>
              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>
    <div class="product-center-column col-xs-12 col-sm-12 col-md-7">
      <h1 itemprop="name">Sinh tố hoa quả</h1>
      <div class="product-description rte" itemprop="description">
        Nhà hàng X-Jo là một trong những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ chuyên về ẩm
        thực của Singapore như các món về gà tần thuốc bắc và những món ăn đặc sắc khác mang hương
        vị đặc trưng được chế biến tỉ mỉ và khéo léo bởi những người đam mê về văn...
      </div>


      <div class="product-extra">
        <ul class="list-unstyled description no-padding">
          <li><b>Nhãn hiệu: </b><a href="/vendors?query="></a></li>
          <li><b>Tình trạng: </b>
            <span class="availability">

                                            <span class="available instock">Còn hàng</span>

                                        </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-right-column float-right col-xs-12 col-sm-12 col-md-7">
      <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="VND">
        <link itemprop="availability" href="http://schema.org/InStock">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">


          <div class="product_price_content">



            <span id="ProductPrice" class="price on-sale" itemprop="price">
                    25.000₫
            </span>

            <span class="old-price">
                    <span class="product-price-old">34.000₫</span>
                </span>


          </div>


          <input type="hidden" name="variantId" value="2246368">


          <div class="quantity_wanted_p clearfix">
            <label for="qty" class="quantity-selector">Số lượng</label>
            <div class="pull-left">
              <div class="custom pull-left">
                <input type="number" id="Quantity" name="quantity" value="1" min="1"
                       class="input-text qty fix-inp-product">
              </div>
            </div>
          </div>


          <div class="border-box clear-fix">


            <button class="btn btn-outline btn-cart ajax_addtocart" title="Thêm vào giỏ hàng">
              <span><i class="icon-basket"></i> Thêm vào giỏ hàng</span></button>


          </div>
        </form>
      </div>


      <div class="line-product"></div>

      <ul id="usefull_link_block" class="clearfix no-print list-inline">
        <li class="print">
          <a href="javascript:print();"><i class="fa fa-print"></i> In</a>
        </li>
      </ul>
      <div class="line-product"></div>

      <div class="socialsharing_product no-print">
        <ul class="social-sharing list-unstyled">

          <li>
            <a class="btn social-sharing btn-twitter" href="javascript:void(0);"
               data-type="twitter">
              <i class="fa fa-twitter"></i> Tweet
            </a>
          </li>


          <li>
            <a class="btn social-sharing btn-facebook" href="javascript:void(0);"
               data-type="facebook">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>


          <li>
            <a class="btn social-sharing btn-google-plus" href="javascript:void(0);"
               data-type="google-plus">
              <i class="fa fa-google-plus"></i> Google+
            </a>
          </li>


        </ul>
      </div>
      <div style="display:none" id="content-share">
        <div class="share-desc">' + sharedesc + '</div>
        <div class="share-title">' + sharetitle + '</div>
      </div>
      <script type="text/javascript">
        $(document).ready(function () {
          $('.btn.social-sharing').on('click', function () {
            var sharedesc = $(".share-desc").text();
            var sharetitle = $(".share-title").text();
            type = $(this).attr('data-type');
            if (type.length) {
              switch (type) {
                case 'twitter':
                  window.open('https://twitter.com/intent/tweet?text=Sinh tố hoa quả&amp;url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharertwt', 'toolbar=0,status=0,width=640,height=445');
                  break;
                case 'facebook':
                  window.open('http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fleo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharer', 'toolbar=0,status=0,width=660,height=445');
                  break;
                case 'google-plus':
                  window.open('https://plus.google.com/share?url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharer', 'toolbar=0,status=0,width=660,height=445');
                  break;
                case 'linkedin':
                  window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua&amp;title=' + sharetitle + '&amp;summary=' + sharedesc + '&amp;source=http&#58;&#47;&#47;leo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharerpinterest', 'toolbar=0,status=0,width=660,height=445');
                  break;
                case 'pinterest':
                  window.open('http://pinterest.com/pin/create/button/?url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua&amp;description=' + sharedesc + '&amp;media=', 'sharerpinterest', 'toolbar=0,status=0,width=660,height=445');
                  break;
              }
            }
          });
        });
      </script>


    </div>
  </div>
</div>
