<div class="hidden-md col-lg-3 col-md-12 block category_productlist">
    <div id="productlistcategory01" class="products_block block">
        <h2 class="page-subheading ">Nổi bật </h2>
        <div class="block_content">
            <div class="carousel slide" id="product_list_00category01">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="product_list">
                            <div class="product-items row">
                                <div class="product_block col-md-12 col-sm-12 col-xs-12 col-sp-12">
                                    <div class="item-variant clearfix product-block">
                                        <div class="product-meta">
                                            <h3 class="name">
                                                <a class="product-name" href="#" title="Súp thập cẩm">Súp thập cẩm</a>
                                             </h3>
                                            <div class="content_price">
                                                <span class="price product-price sale-price">
                                                <span>80.000₫</span>
                                                </span>
                                                <span class="old-price product-price">
                                                <span>87.000₫</span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="product-image-container image">
                                            <div class="layout-img">
                                                <a class="product_img_link" href="" title="Súp thập cẩm">
                                                    <img class="replace-2x img-responsive" src="../assets/images/mon2.jpg" alt="Súp thập cẩm">
                                                    <span class="product-additional" data-idproduct="995767">
                                                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-items row">
                                <div class="product_block col-md-12 col-sm-12 col-xs-12 col-sp-12">
                                    <div class="item-variant clearfix product-block">
                                        <div class="product-meta">
                                            <h3 class="name">
                                                <a class="product-name" href="#" title="Súp thập cẩm">Súp thập cẩm</a>
                                             </h3>
                                            <div class="content_price">
                                                <span class="price product-price sale-price">
                                                <span>80.000₫</span>
                                                </span>
                                                <span class="old-price product-price">
                                                <span>87.000₫</span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="product-image-container image">
                                            <div class="layout-img">
                                                <a class="product_img_link" href="" title="Súp thập cẩm">
                                                    <img class="replace-2x img-responsive" src="../assets/images/mon3.jpg" alt="Súp thập cẩm">
                                                    <span class="product-additional" data-idproduct="995767">
                                                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-items row">
                                <div class="product_block col-md-12 col-sm-12 col-xs-12 col-sp-12">
                                    <div class="item-variant clearfix product-block">
                                        <div class="product-meta">
                                            <h3 class="name">
                                                <a class="product-name" href="#" title="Súp thập cẩm">Súp thập cẩm</a>
                                             </h3>
                                            <div class="content_price">
                                                <span class="price product-price sale-price">
                                                <span>80.000₫</span>
                                                </span>
                                                <span class="old-price product-price">
                                                <span>87.000₫</span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="product-image-container image">
                                            <div class="layout-img">
                                                <a class="product_img_link" href="" title="Súp thập cẩm">
                                                    <img class="replace-2x img-responsive" src="../assets/images/mon4.jpg" alt="Súp thập cẩm">
                                                    <span class="product-additional" data-idproduct="995767">
                                                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-items row">
                                <div class="product_block col-md-12 col-sm-12 col-xs-12 col-sp-12">
                                    <div class="item-variant clearfix product-block">
                                        <div class="product-meta">
                                            <h3 class="name">
                                                <a class="product-name" href="#" title="Súp thập cẩm">Súp thập cẩm</a>
                                             </h3>
                                            <div class="content_price">
                                                <span class="price product-price sale-price">
                                                <span>80.000₫</span>
                                                </span>
                                                <span class="old-price product-price">
                                                <span>87.000₫</span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="product-image-container image">
                                            <div class="layout-img">
                                                <a class="product_img_link" href="" title="Súp thập cẩm">
                                                    <img class="replace-2x img-responsive" src="../assets/images/mon5.jpg" alt="Súp thập cẩm">
                                                    <span class="product-additional" data-idproduct="995767">
                                                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-items row">
                                <div class="product_block col-md-12 col-sm-12 col-xs-12 col-sp-12">
                                    <div class="item-variant clearfix product-block">
                                        <div class="product-meta">
                                            <h3 class="name">
                                                <a class="product-name" href="#" title="Súp thập cẩm">Súp thập cẩm</a>
                                             </h3>
                                            <div class="content_price">
                                                <span class="price product-price sale-price">
                                                <span>80.000₫</span>
                                                </span>
                                                <span class="old-price product-price">
                                                <span>87.000₫</span>
                                                </span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="product-image-container image">
                                            <div class="layout-img">
                                                <a class="product_img_link" href="" title="Súp thập cẩm">
                                                    <img class="replace-2x img-responsive" src="../assets/images/mon6.jpg" alt="Súp thập cẩm">
                                                    <span class="product-additional" data-idproduct="995767">
                                                  </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>