<div class="more_info_block">

  <ul class="nav nav-tabs tab-info page-product-heading">
    <li class="active">
      <a href="#idTab1" data-toggle="tab">Thông tin chi tiết</a>
    </li>
    <li>
      <a href="#idTab2" data-toggle="tab">Nhận xét</a>
    </li>
  </ul>
  <div class="tab-content">
    <section id="idTab1" class="tab-pane page-product-box active">
      <div class="rte">
        <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
          Nhà hàng X-Jo là một trong những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ chuyên
          về ẩm thực của Singapore như các món về gà tần thuốc bắc và những món ăn đặc sắc khác
          mang hương vị đặc trưng được chế biến tỉ mỉ và khéo léo bởi những người đam mê về văn
          hóa ẩm thực tại Singapore.</p>

        <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
          Về cơ bản, torrija là món ăn mà người Tân Ban Nha học hỏi được từ một món ăn sáng phổ
          biến của người Pháp là bánh mì nướng. Dễ làm và được yêu thích bởi mùi vị ngọt ngào,
          người Tây Ban Nha chế biến torrija bằng cách ngâm bánh mì cứng vào trong trứng, sữa và
          đường, rồi phết mật ong hoặc si-rô, đem nướng.</p>

        <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
          Món ăn này thường được phục vụ trong những ngày nghỉ của lễ Phục Sinh. Rắc thêm đường
          hoặc quế lên bề mặt, torrija được dọn kèm với ly sô-cô-la nóng, là&nbsp; bữa ăn sáng hấp
          dẫn và đầy đủ chất dinh dưỡng.</p>

        <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal; text-align: center;">
          <img alt=""
               src="http://media.bizwebmedia.net/sites/28008/data/Upload/2014/9/breakfast_fruit_strawberry_blueberries_milk_food_hd_wallpaper.jpg"
               style="width: 630px; height: 500px;"></p>
      </div>
    </section>
    <section id="idTab2" class="tab-pane page-product-box">

      <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid"
           data-href="https://developers.facebook.com/docs/plugins" data-width="100%"
           data-numposts="5" fb-xfbml-state="rendered"><span style="height: 18711px;"><iframe
        id="f1fa5edd9a0d038" name="f4d5e084aa65dc" scrolling="no" title="Facebook Social Plugin"
        class="fb_ltr"
        src="https://www.facebook.com/plugins/comments.php?api_key=483479355145437&amp;channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FXBwzv5Yrm_1.js%3Fversion%3D42%23cb%3Df123b7ecee73a88%26domain%3Dleo-food.bizwebvietnam.net%26origin%3Dhttps%253A%252F%252Fleo-food.bizwebvietnam.net%252Ff179ccff3135c8%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v2.5&amp;width=100%25"
        style="border: none; overflow: hidden; height: 18711px; width: 100%;"></iframe></span>
      </div>

    </section>
  </div>

</div>
