<div class="col-xs-12 col-sm-12 col-lg-9 col-md-12">
  <div class="category_sub">
    <h3 class="title_block pull-left">Đặt Cơm</h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="category_content">
        <div class="category_product_tab">
          <div class="carousel-inner">
            <div class="item active">
              <div class="product_list">
                <!-- start row product items --
                  <!-- start one product items -->
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                  <div class="item-variant clearfix product-block">
                    <div class="product-meta">
                      <h3 class="name">
                        <a class="product-name" href="#" title="Cơm tấm">Cơm tấm</a>
                      </h3>
                      <div class="review clearfix">
                        <span class="shopify-product-reviews-badge"></span>
                      </div>
                      <div class="content_price">
																												<span class="price product-price sale-price">
																														<span>25.000₫</span>
																												</span>
                        <span class="old-price product-price">
																														<span>34.000₫</span>
																												</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="product-image-container image">
                      <div class="layout-img">
                        <a class="product_img_link" href="" title="Cơm tấm ">
                          <img class="img-responsive" src="../../../../assets/images/mon4.jpg " alt=""/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end one product-item  -->
                <!-- start one product items -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="category_desc fix-banner">
      <img class="img-responsive"
           src="https://bizweb.dktcdn.net/100/038/419/themes/49902/assets/home_verticaltabs_1.png?1495677182625"
           alt="Đồ ăn nóng">
    </div>
  </div>


</div>
