<div class="list_product_cart clearfix" data-id="3203311">

  <div class="cpro_item col-xs-12 col-sm-2 col-md-2 cart-img-column">
    <div class="cpro_item_inner">
      <a href="/collections/all/products/sinh-to-hoa-qua?variantid=2246368"
         class="cart__image">
        <img width="75" height="75" alt="Sinh tố hoa quả"
             src="//bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627">
      </a>
    </div>
  </div>
  <div class="cpro_item col-xs-12 col-sm-3 col-md-3">
    <div class="cpro_item_inner">
      <span class="visible-xs">Tên: </span>
      <a href="/sinh-to-hoa-qua?variantid=2246368" class="product_name">
        Sinh tố hoa quả
      </a>
    </div>
  </div>
  <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
    <div class="cpro_item_inner">
      <span class="visible-xs">Giá: </span>
      <span class="price product-price">25.000₫</span>
    </div>
  </div>
  <div class="cpro_item text-center col-xs-12 col-sm-2 col-md-2">
    <div class="cpro_item_inner">
      <span class="visible-xs">Số lượng: </span>
      <input class="input-text qty" type="number" name="Lines" id="updates_3203311"
             value="1" min="0" data-id="3203311">
    </div>
  </div>
  <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
    <div class="cpro_item_inner">
      <span class="visible-xs">Tổng: </span>
      <span class="price product-price">25.000₫</span>
    </div>
  </div>
  <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
    <div class="cpro_item_inner">
      <a href="/cart/change?line=1&amp;quantity=0" class="cart__remove" data-id="3203311">
        <small>Xóa</small>
      </a>
    </div>
  </div>
</div>
