<div id="categories_block" class="block sidebar_block_custom">
  <h4 class="title_block">Danh Mục Sản Phẩm <i class="fa fa-plus-circle"></i></h4>
  <div class="block_content" style="">
    <ul class="list-block list-group list-unstyled listSidebar">
      <li><a href="/bst" title="BST">
        Đồ uống<span id="leo-cat-939408" class="leo-qty pull-right">1</span>
      </a></li>
      <li><a href="/toan-chieu-rong"
             title="Toàn chiều rộng">
        Cơm<span id="leo-cat-250495" class="leo-qty pull-right">12</span>
      </a></li>
      <li><a href="/dang-danh-sach-cot-phai"
             title="Dạng danh sách, cột phải">
        Bún
        <span id="leo-cat-250494" class="leo-qty pull-right">3</span>


      </a></li>
      <li><a href="/dang-danh-sach-cot-trai"
             title="Dạng danh sách, cột trái">
        Mì
        <span id="leo-cat-250493" class="leo-qty pull-right">3</span>


      </a></li>
      <li><a href="/dang-luoi-cot-phai"
             title="Dạng lưới, cột phải">
        Hoa, quả
        <span id="leo-cat-250492" class="leo-qty pull-right">12</span>
      </a></li>
      <li><a href="/dang-luoi-cot-trai"
             title="Dạng lưới, cột trái">
        Hải sản
        <span id="leo-cat-250490" class="leo-qty pull-right">15</span>


      </a></li>
      <li><a href="/khac" title="Khác">
        Khác
        <span id="leo-cat-250403" class="leo-qty pull-right">7</span>
      </a></li>
      <li><a href="/ban-chay-nhat" title="Bán chạy nhất">
        Bán chạy nhất
        <span id="leo-cat-250399" class="leo-qty pull-right">6</span>
      </a></li>
      <li><a href="/do-an-nhanh" title="Đồ ăn nhanh">
        Đồ ăn nhanh
        <span id="leo-cat-250375" class="leo-qty pull-right">5</span>
      </a></li>
      <li><a href="/collections-san-pham-moi"
             title="Sản phẩm mới">
        Sản phẩm mới


        <span id="leo-cat-185588" class="leo-qty pull-right">4</span>


      </a></li>
    </ul>
  </div>
</div>
