<body class="body--custom-background-color ">
    <div class="banner" data-header="">
        <div class="wrap">
            <div class="shop logo logo--left">

                <h1 class="shop__name">
                    <a href="/">
                Thanh toán đơn hàng
            </a>
                </h1>

            </div>
        </div>
    </div>
    <button class="order-summary-toggle">
        <div class="wrap">
            <h2>
                <label class="control-label">Đơn hàng</label>
                <label class="control-label hidden-small-device">
                    (7 sản phẩm)
                </label>
                <label class="control-label visible-small-device inline">
                    (7)
                </label>
            </h2>
            <a class="underline-none expandable pull-right">
                Xem chi tiết
            </a>
        </div>
    </button>
    <form method="post" action="" data-toggle="validator" class="content stateful-form formCheckout">
        <div class="wrap" context="checkout">
            <div class='sidebar '>
                <div class="sidebar_header">
                    <h2>
                        <label class="control-label">Đơn hàng</label>
                        <label class="control-label">(7 sản phẩm)</label>
                    </h2>
                    <hr class="full_width" />
                </div>
                <div class="sidebar__content">
                    <div class="order-summary order-summary--product-list order-summary--is-collapsed">
                        <div class="summary-body summary-section summary-product">
                            <div class="summary-product-list">
                                <table class="product-table">
                                    <tbody>

                                        <tr class="product product-has-image clearfix">
                                            <td>
                                                <div class="product-thumbnail">
                                                    <div class="product-thumbnail__wrapper">

                                                        <img src='//bizweb.dktcdn.net/thumb/thumb/100/038/419/products/com-fix.jpg?v=1475284781323' alt='Cơm tấm' class='product-thumbnail__image' />

                                                    </div>
                                                    <span class="product-thumbnail__quantity" aria-hidden="true">2</span>
                                                </div>
                                            </td>
                                            <td class="product-info">
                                                <span class="product-info-name">

                                                        Cơm tấm
                                                    </span>

                                            </td>
                                            <td class="product-price text-right">
                                                50.000₫
                                            </td>
                                        </tr>

                                        <tr class="product product-has-image clearfix">
                                            <td>
                                                <div class="product-thumbnail">
                                                    <div class="product-thumbnail__wrapper">

                                                        <img src='//bizweb.dktcdn.net/thumb/thumb/100/038/419/products/com-fix.jpg?v=1475284781323' alt='Cơm tấm' class='product-thumbnail__image' />

                                                    </div>
                                                    <span class="product-thumbnail__quantity" aria-hidden="true">1</span>
                                                </div>
                                            </td>
                                            <td class="product-info">
                                                <span class="product-info-name">

                                                        Pizza hải sản
                                                    </span>

                                                <span class="product-info-description">
                                                            S / Đỏ
                                                        </span>

                                            </td>
                                            <td class="product-price text-right">
                                                83.000₫
                                            </td>
                                        </tr>

                                        <tr class="product product-has-image clearfix">
                                            <td>
                                                <div class="product-thumbnail">
                                                    <div class="product-thumbnail__wrapper">

                                                        <img src='//bizweb.dktcdn.net/thumb/thumb/100/038/419/products/com-fix.jpg?v=1475284781323' alt='Cơm tấm' class='product-thumbnail__image' />

                                                    </div>
                                                    <span class="product-thumbnail__quantity" aria-hidden="true">2</span>
                                                </div>
                                            </td>
                                            <td class="product-info">
                                                <span class="product-info-name">

                                                        Cơm rang thập cẩm
                                                    </span>

                                            </td>
                                            <td class="product-price text-right">
                                                80.000₫
                                            </td>
                                        </tr>

                                        <tr class="product product-has-image clearfix">
                                            <td>
                                                <div class="product-thumbnail">
                                                    <div class="product-thumbnail__wrapper">

                                                        <img src='//bizweb.dktcdn.net/thumb/thumb/100/038/419/products/com-fix.jpg?v=1475284781323' alt='Cơm tấm' class='product-thumbnail__image' />

                                                    </div>
                                                    <span class="product-thumbnail__quantity" aria-hidden="true">2</span>
                                                </div>
                                            </td>
                                            <td class="product-info">
                                                <span class="product-info-name">

                                                        Cơm gà
                                                    </span>

                                            </td>
                                            <td class="product-price text-right">
                                                80.000₫
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="order-summary__scroll-indicator">
                                    Cuộn chuột để xem thêm
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <hr class="m0" />
                    </div>
                    <div class="order-summary order-summary--discount">
                        <div class="summary-section">
                            <div class="form-group m0">
                                <div class="field__input-btn-wrapper">
                                    <div class="">
                                        <input name="code" type="text" class="form-control" placeholder="Nhập mã giảm giá" />
                                    </div>
                                    <button class="btn btn-primary event-voucher-apply apply-voucher" type="button">Áp dụng</button>
                                </div>
                            </div>
                            <div class="clearfix hide">
                                <div class="pull-left">
                                    <i class="fa fa-check applied-discount-status-success" aria-hidden="true"></i>
                                    <i class="fa fa-exclamation-triangle applied-discount-status-warning" aria-hidden="true"></i>
                                </div>
                                <div class="pull-left applied-discount-code">

                                </div>
                                <div class="pull-right">

                                    0

                                </div>
                                <input class="btn btn-delete" type="button" value="×" name="commit">
                            </div>
                            <div class="error mt10 hide">
                                Mã khuyến mãi không hợp lệ
                            </div>
                        </div>
                        <hr class="m0" />
                    </div>
                    <div class="order-summary order-summary--total-lines">
                        <div class="summary-section border-top-none--mobile">
                            <div class="total-line total-line-subtotal clearfix">
                                <span class="total-line-name pull-left">
                                    Tạm tính
                                </span>
                                <span class="total-line-subprice pull-right">
                                    0
                                </span>
                            </div>
                            <div class="total-line total-line-shipping clearfix">
                                <span class="total-line-name pull-left">
                                    Phí vận chuyển
                                </span>
                                <span class="total-line-shipping pull-right">

                                        Miễn phí

                                </span>
                            </div>
                            <div class="total-line total-line-total clearfix">
                                <span class="total-line-name pull-left">
                                    Tổng cộng
                                </span>
                                <span class="total-line-price pull-right">
                                    293.000₫
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group clearfix hidden-sm hidden-xs">
                        <div class="field__input-btn-wrapper mt10">
                            <a class="previous-link" href="/cart">
                                <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                                <span>Quay về giỏ hàng</span>
                            </a>
                            <input class="btn btn-primary btn-checkout" type="button" value="ĐẶT HÀNG" />
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <div class="help-block ">
                            <ul class="list-unstyled">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main" role="main">
                <div class="main_header">
                    <div class="shop logo logo--left">

                        <h1 class="shop__name">
                            <a href="/">
              Thông Tin Đơn Hàng
            </a>
                        </h1>

                    </div>
                </div>
                <div class="main_content">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="section">
                                <div class="section__header">
                                    <div class="layout-flex layout-flex--wrap">
                                        <h2 class="section__title layout-flex__item layout-flex__item--stretch">
                                            <i class="fa fa-id-card-o fa-lg section__title--icon hidden-md hidden-lg" aria-hidden="true"></i>
                                            <label class="control-label">Thông tin mua hàng</label>
                                        </h2>

                                        <a class="layout-flex__item section__title--link" href="/account/login?returnUrl=/checkout">
                                            <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i> Đăng nhập
                                        </a>

                                    </div>
                                </div>
                                <div class="section__content">

                                    <div class="form-group">
                                        <div>
                                            <label class="field__input-wrapper">
                                                <span class="field__label">
                                                        Email
                                                    </span>
                                                <input name="Email" type="email"  class="field__input form-control" id="_email" data-error="Vui lòng nhập email đúng định dạng" required name="Email" value="" pattern="^([a-zA-Z0-9_\-\.\+]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" />
                                            </label>
                                        </div>
                                        <div class="help-block with-errors">
                                        </div>
                                    </div>

                                    <div class="billing">
                                        <div>
                                            <div class="form-group">
                                                <div class="field__input-wrapper">
                                                    <span class="field__label">
                                                        Họ và tên
                                                    </span>
                                                    <input name="BillingAddress.LastName" type="text" class="field__input form-control" id="_billing_address_last_name" data-error="Vui lòng nhập họ tên" />
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper">
                                                    <span class="field__label">
                                                            Số điện thoại
                                                        </span>
                                                    <input name="BillingAddress.Phone" type="text" class="field__input form-control" id="_billing_address_phone" />
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper">
                                                    <span class="field__label">
                                                            Địa chỉ
                                                        </span>
                                                    <input name="BillingAddress.Address1" type="text" class="field__input form-control" id="_billing_address_address1" />
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper field__input-wrapper--select">
                                                    <label class="field__label" for="BillingProvinceId">
                                                        Tỉnh thành
                                                    </label>
                                                    <select class="field__input field__input--select form-control" name="BillingProvinceId" id="billingProvince" required data-error="Bạn chưa chọn tỉnh thành">
                                                        <option value=''>--- Chọn tỉnh thành ---</option>

                                                        <option value="1">Hà Nội</option>

                                                        <option value="2">TP Hồ Chí Minh</option>

                                                        <option value="3">An Giang</option>

                                                        <option value="4">Bà Rịa-Vũng Tàu</option>

                                                        <option value="5">Bắc Giang</option>

                                                        <option value="6">Bắc Kạn</option>

                                                        <option value="7">Bạc Liêu</option>

                                                        <option value="8">Bắc Ninh</option>

                                                        <option value="9">Bến Tre</option>

                                                        <option value="10">Bình Định</option>

                                                        <option value="11">Bình Dương</option>

                                                        <option value="12">Bình Phước</option>

                                                        <option value="13">Bình Thuận</option>

                                                        <option value="14">Cà Mau</option>

                                                        <option value="15">Cần Thơ</option>

                                                        <option value="16">Cao Bằng</option>

                                                        <option value="17">Đà Nẵng</option>

                                                        <option value="18">Đắk Lắk</option>

                                                        <option value="19">Đắk Nông</option>

                                                        <option value="20">Điện Biên</option>

                                                        <option value="21">Đồng Nai</option>

                                                        <option value="22">Đồng Tháp</option>

                                                        <option value="23">Gia Lai</option>

                                                        <option value="24">Hà Giang</option>

                                                        <option value="25">Hà Nam</option>

                                                        <option value="26">Hà Tĩnh</option>

                                                        <option value="27">Hải Dương</option>

                                                        <option value="28">Hải Phòng</option>

                                                        <option value="29">Hậu Giang</option>

                                                        <option value="30">Hòa Bình</option>

                                                        <option value="31">Hưng Yên</option>

                                                        <option value="32">Khánh Hòa</option>

                                                        <option value="33">Kiên Giang</option>

                                                        <option value="34">Kon Tum</option>

                                                        <option value="35">Lai Châu</option>

                                                        <option value="36">Lâm Đồng</option>

                                                        <option value="37">Lạng Sơn</option>

                                                        <option value="38">Lào Cai</option>

                                                        <option value="39">Long An</option>

                                                        <option value="40">Nam Định</option>

                                                        <option value="41">Nghệ An</option>

                                                        <option value="42">Ninh Bình</option>

                                                        <option value="43">Ninh Thuận</option>

                                                        <option value="44">Phú Thọ</option>

                                                        <option value="45">Phú Yên</option>

                                                        <option value="46">Quảng Bình</option>

                                                        <option value="47">Quảng Nam</option>

                                                        <option value="48">Quảng Ngãi</option>

                                                        <option value="49">Quảng Ninh</option>

                                                        <option value="50">Quảng Trị</option>

                                                        <option value="51">Sóc Trăng</option>

                                                        <option value="52">Sơn La</option>

                                                        <option value="53">Tây Ninh</option>

                                                        <option value="54">Thái Bình</option>

                                                        <option value="55">Thái Nguyên</option>

                                                        <option value="56">Thanh Hóa</option>

                                                        <option value="57">Thừa Thiên Huế</option>

                                                        <option value="58">Tiền Giang</option>

                                                        <option value="59">Trà Vinh</option>

                                                        <option value="60">Tuyên Quang</option>

                                                        <option value="61">Vĩnh Long</option>

                                                        <option value="62">Vĩnh Phúc</option>

                                                        <option value="63">Yên Bái</option>

                                                    </select>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper field__input-wrapper--select">
                                                    <label class="field__label" for="BillingDistrictId">
                                                        Quận huyện
                                                    </label>
                                                    <select class="field__input field__input--select form-control" name="BillingDistrictId" id="billingDistrict">
                                                        <option value="">--- Chọn quận huyện ---</option>
                                                    </select>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="error hide">
                                                    <label>Khu vực này không hỗ trợ vận chuyển</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section pt10">
                                <div class="section__content">
                                    <div class="form-group">
                                        <div class="checkbox-wrapper">
                                            <div class="checkbox__input">
                                                <input class="input-checkbox" type="checkbox" value="false" name="otherAddress" id="other_address">
                                            </div>
                                            <label class="checkbox__label" for="other_address">
                                                Giao hàng đến địa chỉ khác
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section pt10">
                                <div class="section__header">
                                    <h2 class="section__title">
                                        <i class="fa fa-id-card-o fa-lg section__title--icon hidden-md hidden-lg" aria-hidden="true"></i>
                                        <label class="control-label">
                                            Thông tin nhận hàng
                                        </label>
                                    </h2>
                                </div>
                                <div class="section__content">
                                    <div class="shipping  hide ">
                                        <div>
                                            <div class="form-group">
                                                <div class="field__input-wrapper">
                                                    <span class="field__label">
                                                        Họ và tên
                                                    </span>
                                                    <input name="ShippingAddress.LastName" type="text" class="field__input form-control" id="_shipping_address_last_name" data-error="Vui lòng nhập họ tên" />
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper">
                                                    <span class="field__label">
                                                            Số điện thoại
                                                        </span>
                                                    <input name="ShippingAddress.Phone" type="text" class="field__input form-control" id="_shipping_address_phone" />
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper">
                                                    <span class="field__label">
                                                            Địa chỉ
                                                        </span>
                                                    <input name="ShippingAddress.Address1" type="text" class="field__input form-control" id="_shipping_address_address1" />
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper field__input-wrapper--select">
                                                    <label class="field__label" for="BillingProvinceId">
                                                        Tỉnh thành
                                                    </label>
                                                    <select class="field__input field__input--select form-control" name="ShippingProvinceId" id="shippingProvince" required data-error="Bạn chưa chọn tỉnh thành">
                                                        <option value=''>--- Chọn tỉnh thành ---</option>

                                                        <option value="1">Hà Nội</option>

                                                        <option value="2">TP Hồ Chí Minh</option>

                                                        <option value="3">An Giang</option>

                                                        <option value="4">Bà Rịa-Vũng Tàu</option>

                                                        <option value="5">Bắc Giang</option>

                                                        <option value="6">Bắc Kạn</option>

                                                        <option value="7">Bạc Liêu</option>

                                                        <option value="8">Bắc Ninh</option>

                                                        <option value="9">Bến Tre</option>

                                                        <option value="10">Bình Định</option>

                                                        <option value="11">Bình Dương</option>

                                                        <option value="12">Bình Phước</option>

                                                        <option value="13">Bình Thuận</option>

                                                        <option value="14">Cà Mau</option>

                                                        <option value="15">Cần Thơ</option>

                                                        <option value="16">Cao Bằng</option>

                                                        <option value="17">Đà Nẵng</option>

                                                        <option value="18">Đắk Lắk</option>

                                                        <option value="19">Đắk Nông</option>

                                                        <option value="20">Điện Biên</option>

                                                        <option value="21">Đồng Nai</option>

                                                        <option value="22">Đồng Tháp</option>

                                                        <option value="23">Gia Lai</option>

                                                        <option value="24">Hà Giang</option>

                                                        <option value="25">Hà Nam</option>

                                                        <option value="26">Hà Tĩnh</option>

                                                        <option value="27">Hải Dương</option>

                                                        <option value="28">Hải Phòng</option>

                                                        <option value="29">Hậu Giang</option>

                                                        <option value="30">Hòa Bình</option>

                                                        <option value="31">Hưng Yên</option>

                                                        <option value="32">Khánh Hòa</option>

                                                        <option value="33">Kiên Giang</option>

                                                        <option value="34">Kon Tum</option>

                                                        <option value="35">Lai Châu</option>

                                                        <option value="36">Lâm Đồng</option>

                                                        <option value="37">Lạng Sơn</option>

                                                        <option value="38">Lào Cai</option>

                                                        <option value="39">Long An</option>

                                                        <option value="40">Nam Định</option>

                                                        <option value="41">Nghệ An</option>

                                                        <option value="42">Ninh Bình</option>

                                                        <option value="43">Ninh Thuận</option>

                                                        <option value="44">Phú Thọ</option>

                                                        <option value="45">Phú Yên</option>

                                                        <option value="46">Quảng Bình</option>

                                                        <option value="47">Quảng Nam</option>

                                                        <option value="48">Quảng Ngãi</option>

                                                        <option value="49">Quảng Ninh</option>

                                                        <option value="50">Quảng Trị</option>

                                                        <option value="51">Sóc Trăng</option>

                                                        <option value="52">Sơn La</option>

                                                        <option value="53">Tây Ninh</option>

                                                        <option value="54">Thái Bình</option>

                                                        <option value="55">Thái Nguyên</option>

                                                        <option value="56">Thanh Hóa</option>

                                                        <option value="57">Thừa Thiên Huế</option>

                                                        <option value="58">Tiền Giang</option>

                                                        <option value="59">Trà Vinh</option>

                                                        <option value="60">Tuyên Quang</option>

                                                        <option value="61">Vĩnh Long</option>

                                                        <option value="62">Vĩnh Phúc</option>

                                                        <option value="63">Yên Bái</option>

                                                    </select>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="field__input-wrapper field__input-wrapper--select">
                                                    <label class="field__label" for="BillingDistrictId">
                                                        Quận huyện
                                                    </label>
                                                    <select class="field__input field__input--select form-control" name="ShippingDistrictId" id="shippingDistrict">
                                                        <option value="">--- Chọn quận huyện ---</option>
                                                    </select>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <div class="error hide">
                                                    <label>Khu vực này không hỗ trợ vận chuyển</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="section__content">
                                    <div class="form-group m0">
                                        <textarea name="note" value="" class="field__input form-control m0" placeholder="Ghi chú"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="section shipping-method hide">
                                <div class="section__header">
                                    <h2 class="section__title">
                                        <i class="fa fa-truck fa-lg section__title--icon hidden-md hidden-lg" aria-hidden="true"></i>
                                        <label class="control-label">Vận chuyển</label>
                                    </h2>
                                </div>
                                <div class="section__content">
                                    <div class="content-box">
                                    </div>
                                </div>
                            </div>
                            <div class="section payment-methods">
                                <div class="section__header">
                                    <h2 class="section__title">
                                        <i class="fa fa-credit-card fa-lg section__title--icon hidden-md hidden-lg"></i>
                                        <label class="control-label">Thanh toán</label>
                                    </h2>
                                </div>
                                <div class="section__content">
                                    <div class="content-box">

                                        <div class="content-box__row">
                                            <div class="radio-wrapper">
                                                <label class="radio__label" for="payment_method_40746">
                                                    <input class="input-radio" type="radio" value="40746" name="PaymentMethodId" id="payment_method_40746" data-check-id="4">
                                                    <span class="radio__label__primary">Thanh toán khi giao hàng (COD)</span>
                                                  
                                                </label>
                                            </div>
                                            <!-- /radio-wrapper-->
                                        </div>

                                        <div class="radio-wrapper content-box__row content-box__row--secondary hide" id="payment-gateway-subfields-40746">
                                            <div class="blank-slate">
                                                <p>cod</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="section hidden-md hidden-lg">
                                <div class="form-group clearfix m0">
                                    <input class="btn btn-primary btn-checkout" type="button" value="ĐẶT HÀNG" />
                                </div>
                                <div class="text-center mt20">
                                    <a class="previous-link" href="/cart">
                                        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                                        <span>Quay về giỏ hàng</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_footer footer unprint">

                    <div class="mt10"></div>
                </div>
                <div class="modal fade" id="refund-policy" data-width="" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 class="modal-title">Chính sách hoàn trả</h4>
                            </div>
                            <div class="modal-body">
                                <pre></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="privacy-policy" data-width="" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 class="modal-title">Chính sách bảo mật</h4>
                            </div>
                            <div class="modal-body">
                                <pre></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="terms-of-service" data-width="" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 class="modal-title">Điều khoản sử dụng</h4>
                            </div>
                            <div class="modal-body">
                                <pre></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>